html {
  scroll-behavior: smooth;
  scroll-padding-top: 55px;
}

body::-webkit-scrollbar {
  display: none;
}
nav {
  transition-duration: 300ms;
}
.carousel .carousel-inner {
  position: relative;
}
.carousel .carousel-inner .carousel-caption {
  z-index: 2;
}
.carousel .carousel-inner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
